# Ignore Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Ignore environment and build files
.env
.DS_Store
dist/
build/

# Ignore editor configurations
.vscode/
.idea/

# Ignore logs
logs
*.log
